.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__size {
        background-color: orangered;
        height: 50rem;
        transition: all .8s;
    }

    //.card:hover .card__size
    &:hover &__size {
        transform: rotateY(180deg);
    }
}